<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
    integrity="sha512-4xo8blKMVCiXpTaLzQSLSw3KFOVPWhm/TRtuPVc4WG6kUgjH6J03IBuG7JZPkcWMxJ5huwaBpOpnwYElP/m6wg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
  <link rel="stylesheet" href="./css/styles.css" />
  <title>Document</title>
</head>

<body>
  <!-- <header class="header">
    <div class="container">
      <nav class="header-navigation">
        <a href="./index.html" class="list__logo">
          <svg width="40" height="31" class="icon icon-vector-header"><use href="./images/icons.svg#icon-vector-header"></use></svg>&nbsp;<span>Finance</span>&nbsp;Ledger</a>
        <ul class="list list-header">
          <li>
            <a class="list__link" href="#hero-section">Home</a>
          </li>
          <li>
            <a class="list__link" href="#about-section">About</a>
          </li>
          <li>
            <a class="list__link" href="#cases-section">Cases</a>
          </li>
          <li>
            <a class="list__link" href="#blog-section">Blog</a>
          </li>
          <li>
            <a class="list__link" href="#callback-section">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </header> -->
  <main class="main">
    <!-- <section id="hero-section" class="hero">
      <div class="container">
        <h1 class="main__title">The Sky Is The Limit</h1>
        <h2 class="main__subtitle">
          We provide world class financial assistance
        </h2>
        <button type="button" class="main__btn"><svg width="9" height="18" class="icon icon-arrow-btn"><use href="./images/icons.svg#icon-arrow-btn"></use></svg>Read More</button>
      </div>
    </section> -->
    <section id="about-section" class="about">
      <div class="container">
        <img src="./images/rectangle.jpg" alt="six people standing" />
        <div class="about-container">
          <h3 class="about-title">What you are looking for</h3>
          <h2 class="about-subtitle">We provide bespoke solutions</h2>
          <p class="about-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Voluptate, ipsum dignissimos quae laudantium asperiores nam
            aliquid impedit harum illum dolore explicabo ab dolores itaque
            rerum temporibus doloribus iste maiores deleniti?
          </p>
          <button class="about-btn" type="button">Read More</button>
        </div>
      </div>
    </section>
    <section id="cases-section" class="cases">
      <div class="container">
        <h3 class="sub-title">This is what we do</h3>
        <h2 class="cases-title">Business Cases</h2>
        <p class="cases-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
          sapiente!
        </p>
        <ul class="cases-list">
          <li><img src="./images/Rectangle1.jpg" alt="meeting" /></li>
          <li><img src="./images/Rectangle2.jpg" alt="working" /></li>
          <li><img src="./images/Rectangle3.jpg" alt="hand" /></li>
          <li><img src="./images/Rectangle4.jpg" alt="hands" /></li>
          <li><img src="./images/Rectangle5.jpg" alt="comp" /></li>
          <li><img src="./images/Rectangle6.jpg" alt="building" /></li>
        </ul>
      </div>
    </section>
    <section id="blog-section" class="blog">
      <div class="container">
        <div class="blog-container">
          <p class="blog-data">April 16 2020</p>
          <h2 class="blog-title">Blog Post One</h2>
          <p class="blog-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
            ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
            illum dolore explicabo ab dolores itaque rerum temporibus doloribus
            iste maiores deleniti?
          </p>
          <button type="button" class="blog-btn">Read Our Blog</button>
        </div>
        <img src="./images/Rectangle-blog.jpg" alt="table" width="670" />
      </div>
    </section>
    <section class="team">
      <div class="container">
        <h3 class="team-subtitle">Who we are</h3>
        <h2 class="team-title">Our Professional Team</h2>
        <p class="team-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
          sapiente!
        </p>
        <ul class="team-list ">
          <li class="team-item">
            <img src="./images/Rectangle7.jpg" alt="men_standing" width="420" height="286" />
            <div class="team-container">
              <h4 class="container-subtitle">John Doe</h4>
              <p class="container-subtext">President</p>
            </div>
          </li>
          <li class="team-item">
            <img src="./images/Rectangle8.jpg" alt="women sitting" width="420" height="286" />
            <div class="team-container">
              <h4 class="container-subtitle">Jane Doe</h4>
              <p class="container-subtext">Vice President</p>
            </div>
          </li>
          <li class="team-item">
            <img src="./images/Rectangle9.jpg" alt="smiling men" width="420" height="286" />
            <div class="team-container">
              <h4 class="container-subtitle">Steve Smith</h4>
              <p class="container-subtext">Marketing Head</p>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section id="callback-section" class="callback">
      <div class="container">
        <img src="./images/Rectangle10.jpg" alt="workingman">
        <div class="callback-container">
          <h2 class="callback-title">Request Callback</h2>
          <button class="callback-btn-one" type="button">Enter your name</button>
          <button class="callback-btn-two" type="button">Enter email*</button>
          <button class="callback-btn" type="button">Send</button>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="footer-link">
          <a href="" class="social-link"><svg class="footer-icon" width="35" height="35">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg> </a>
          <a href="" class="social-link"><svg class="footer-icon" width="35" height="35">
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg></a>
          <a href="" class="social-link"><svg class="footer-icon" width="40" height="35">
            <use href="./images/icons.svg#icon-youtube"></use>
          </svg></a>
          <a href="" class="social-link"><svg class="footer-icon" width="31" height="35">
            <use href="./images/icons.svg#icon-linkedin"></use>
          </svg></a>
        </div>
        <p class="footer-text">Copyright &copy; 2021 - FinanceLedger</p>
      </div>
    </footer>
  </main>
</body>

</html>