/* :root {
  --light-cl: #fff;
  --green: #28a745;
  --dark-cl: #333;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: var(--light-cl);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}



h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
} */

/* -----------------------HEADER------------------- */
/* .header>.container,
.cases>.container {
  padding: 0 28px;
}

.container {
  width: 1360px;
  margin: 0 auto;
}

.header {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-header {
  display: flex;
  gap: 40px;
}

.list__link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--light-cl);
  font-size: 18px;
  line-height: 1.56;
}

.list__logo {
  color: var(--light-cl);
  line-height: 1.2;
  font-size: 35px;
  display: flex;
  align-items: center;
}

.list__logo span {
  color: var(--green);
} */

/* --------------------hero ----------------*/
/* .icon-vector-header {
  fill: #28A745;
} */
.main {}

/* .hero {
  padding-top: 280px;
  padding-bottom: 280px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(../images/hero-bg.jpg);
  background-size: cover;
}

.main__title {
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  text-align: center;
  color: #e9e9e9;
  margin-bottom: 24px;
}

.main__subtitle {
  font-size: 22px;
  line-height: 1.67;
  text-align: center;
  color: #e9e9e9;
  margin-bottom: 30px;
}

.main__btn {
  background-color: #e9e9e9;
  color: #080808;
  text-align: center;
  font-size: 18px;
  line-height: 1.56;
  border-radius: 5px;
  padding: 10px 30px;
  display: flex;
  margin: 0 auto;
  border: none;
  align-items: center;
  gap: 4px;  
} */

/* ---------------------ABOUT-------------- */
.about {
  background-color: var(--green);
}

.about>.container {
  display: flex;
}

.container {}

.about-container {
  padding: 80px 20px;
}

.about-title {
  padding-bottom: 8px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.65;
}

.about-subtitle {
  padding-bottom: 24px;
  font-size: 38px;
  font-weight: 300;
  line-height: 1.26;
}

.about-text {
  padding-bottom: 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  width: 606px;
}

.about-btn {
  padding: 11px 35px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: var(--green);
  color: #fff;
}

/* ---------------------CASES------------------------ */

.cases {
  padding-top: 80px;
  padding-bottom: 80px;
}

.container {}

.sub-title {
  color: var(--dark-cl);
  text-align: center;
  font-size: 20px;
  line-height: 1.65;
  margin-bottom: 24px;
}

.cases-title {
  color: var(--dark-cl);
  text-align: center;
  font-size: 38px;
  font-weight: 300;
  line-height: 1.26;
  margin-bottom: 24px;
}

.cases-text {
  color: var(--dark-cl);
  text-align: center;
  font-size: 18px;
  line-height: 1.56;
  margin-bottom: 24px;
}

.cases-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 20px;
}

/* ------------------------BLOG---------------- */

.blog {
  background: #0284D0;
}

.blog>.container {
  display: flex;
  justify-content: space-between;

}

.blog-container {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 28px;
}

.blog-data {
  color: var(--light-cl);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.65;
  margin-bottom: 8px;
}

.blog-title {
  color: var(--light-cl);
  font-size: 38px;
  font-weight: 300;
  line-height: 1.26;
  margin-bottom: 24px;
}

.blog-text {
  color: var(--light-cl);
  font-weight: 400;
  line-height: 1.56;
  margin-bottom: 24px;
  width: 606px;
}

.blog-btn {
  color: var(--light-cl);
  border-radius: 5px;
  border: 1px solid #FFF;
  padding: 10px 36px;
  background: #0284D0;
}

/* -------------------TEAM---------------- */
.container {}

.team-subtitle {
  padding-top: 80px;
  color: var(--dark-cl);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.65;
}

.team-title {
  color: #333;
  text-align: center;
  font-size: 38px;
  font-weight: 300;
  line-height: 1.26;
  margin-top: 24px;

}

.team-text {
  color: #333;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  margin-top: 24px;
  margin-bottom: 24px;
}

.team-list {
  display: flex;
  gap: 20px;
  padding-left: 29px;
  padding-right: 29px;
}

.team-item {}

.list-container {}

.team-container {
  padding-top: 20px;
  padding-bottom: 80px;
}

.container-subtitle {
  color: #333;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.27;
}

.container-subtext {
  color: #333;
  text-align: center;
  font-size: 18px;
  line-height: 1.56;
  margin-top: 12px;
}

/* -------------------------CALLBACK------------------ */
.container {}

.callback {
  background: #F4F4F4;
}

.callback>.container {
  display: flex;
}

.callback-container {
  padding: 80px 28px 80px 20px;

  width: 690px;


}

.callback-title {
  color: var(--dark-cl);
  font-size: 38px;
  font-weight: 300;
  line-height: 1.26;
  margin-bottom: 32px;
}

.callback-btn-one {
  display: block;
  margin-bottom: 32px;
  padding: 10px 467px 1px 8px;
  color: #808080;
  font-size: 18px;
  line-height: 1.56;
}

.callback-btn-two {
  display: block;
  margin-bottom: 60px;
  padding: 10px 500px 1px 8px;
  color: #808080;
  font-size: 18px;
  line-height: 1.56;
}

.callback-btn {
  color: var(--light-cl);
  display: block;
  padding: 8px 295px 9px;
  border-radius: 5px;
  background: var(--green);

}

/* --------------------------FOOTER--------------------- */
.footer {
  background: var(--dark-cl);
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {}

.footer-link {
  display: flex;
  gap: 25px;
  justify-content: center;
  
  text-align: center;
  font-size: 35px;
  line-height: 1;
  margin-bottom: 6px;

}

.social-link {
  color: var(--light-cl);
}

.footer-text {
  text-align: center;
}
.social-link:hover,
.social-link:focus{
  color:var(--green);
}
.footer-icon{
  fill: currentColor;
  transition-duration: 250ms;
  display: flex;
  align-items: flex-end;
}