<section id="about-section" class="about">
    <div class="container">
      <img src="./images/rectangle.jpg" alt="six people standing" />
      <div class="about-container">
        <h3 class="about-title">What you are looking for</h3>
        <h2 class="about-subtitle">We provide bespoke solutions</h2>
        <p class="about-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Voluptate, ipsum dignissimos quae laudantium asperiores nam
          aliquid impedit harum illum dolore explicabo ab dolores itaque
          rerum temporibus doloribus iste maiores deleniti?
        </p>
        <button class="about-btn" type="button">Read More</button>
      </div>
    </div>
  </section>