<section id="blog-section" class="blog">
  <div class="container">
    <div class="blog-container">
      <p class="blog-data">April 16 2020</p>
      <h2 class="blog-title">Blog Post One</h2>
      <p class="blog-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button type="button" class="blog-btn">Read Our Blog</button>
    </div>
    <img src="./images/Rectangle-blog.jpg" alt="table" width="670" />
  </div>
</section>
