<section id="cases-section" class="cases">
    <div class="container">
      <h3 class="sub-title">This is what we do</h3>
      <h2 class="cases-title">Business Cases</h2>
      <p class="cases-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
        sapiente!
      </p>
      <ul class="cases-list">
        <li><img src="./images/Rectangle1.jpg" alt="meeting" /></li>
        <li><img src="./images/Rectangle2.jpg" alt="working" /></li>
        <li><img src="./images/Rectangle3.jpg" alt="hand" /></li>
        <li><img src="./images/Rectangle4.jpg" alt="hands" /></li>
        <li><img src="./images/Rectangle5.jpg" alt="comp" /></li>
        <li><img src="./images/Rectangle6.jpg" alt="building" /></li>
      </ul>
    </div>
  </section>