<header class="header">
  <div class="container">
    <nav class="header-navigation">
      <a href="./index.html" class="list__logo">
        <svg width="40" height="31" class="icon icon-vector-header"><use href="./images/icons.svg#icon-vector-header"></use></svg>&nbsp;<span>Finance</span>&nbsp;Ledger</a>
      <ul class="list list-header">
        <li>
          <a class="list__link" href="#hero-section">Home</a>
        </li>
        <li>
          <a class="list__link" href="#about-section">About</a>
        </li>
        <li>
          <a class="list__link" href="#cases-section">Cases</a>
        </li>
        <li>
          <a class="list__link" href="#blog-section">Blog</a>
        </li>
        <li>
          <a class="list__link" href="#callback-section">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>