:root {
  --light-cl: #fff;
  --green: #28a745;
  --dark-cl: #333;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: var(--light-cl);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}



h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}